body {
  font-family: Arial;
  margin: 0;
  background-color: #f0f0f0;
}

header {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 20px;
}

nav {
  background-color: #81c784;
  text-align: center;
  padding: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  display: inline-block;
}

nav a:hover {
  background-color: #4caf50;
  padding: 5px 10px;
  border-radius: 5px;
}

section {
  text-align: center;
  padding: 20px;
}

.footer {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.formbox {
  border: 2px solid #4caf50;
  padding: 20px;
  width: 300px;
  margin: 20px auto;
  background-color: #f9f9f9;
  border-radius: 10px;
}
